<LeafletMap
  @lat={{this.lat}}
  @lng={{this.lng}}
  @zoom={{this.zoom}}
  @onMoveend={{this.updateCenter}}
  @onLoad={{this.primeBounds}}
  as |layers|>
  <layers.tile
    @url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"
    @attribution="OpenStreetMap contributors © CartoDB"
  />
  {{#each this.model as |m|}}
    {{#if m.geometry}}
      <layers.marker @lat={{m.geometry.js.y}} @lng={{m.geometry.js.x}} @draggable={{false}} as |marker|>
        <marker.popup>
        <div>
          <h3>{{m.identifier}}</h3>
          <dl>
            <dt>Address</dt>
            <dd>{{m.address}}</dd>

            <dt>Amount of chargers available</dt>
            <dd>{{m.chargerQuantity}}</dd>

            <dt>Power</dt>
            <dd>{{m.power}}kW</dd>
          </dl>
        </div>
        </marker.popup>
      </layers.marker>
    {{/if}}
  {{/each}}
</LeafletMap>
